<h3>Articles List</h3>

<ul>
  <% @articles.each do |article| %>
    <li>
    	<!--
    	<a href="/articles/<%= article.id %>"> № <%= article.id %> - <%= article.title %></a>
    	<a href="<%= article_path(article) %>"> № <%= article.id %> - <%= article.title %></a>
      -->    	
    	<%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
